@import url(http://fonts.googleapis.com/css?family=Open+Sans);

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: left;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Open Sans";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 35, 122, 0.7);
}

.box{
  width: 750px;
  height: 400px;
  background: url('https://mail.google.com/mail/u/0/?ui=2&ik=5fdab7f418&view=fimg&th=1488a2ce021fb7f3&attid=0.1&disp=inline&realattid=1479611482536673280-local0&safe=1&attbid=ANGjdJ9o7V5tMV1F3vZStH7UkR8HOSZm4ecuJiKX_AumgXeRM4qupShKbJnTSvdMb3OAKk9QdQin2-u2VhYDmqKaAtGB-hy_tfz3RV_PjLrqQWsjt6foaONoxpXLYMU&ats=1411107211758&rm=1488a2ce021fb7f3&zw&sz=w1342-h547');
  background-size: 750px 400px;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
}

.cover{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}

.cover .title{
  font-size: 16pt;
  font-style: italic;
}


.box:hover .top{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top{
  top: -400px;
}

.box2{
  width:400px;
  height: 700px;
  background: url('https://mail.google.com/mail/u/0/?ui=2&ik=5fdab7f418&view=fimg&th=1488a2c9e18fd02c&attid=0.1&disp=inline&realattid=1479611463122288640-local0&safe=1&attbid=ANGjdJ_s5gdSLxoqfOxpW8tfcC93G7e4ZK7yMlJgaSuo1NVdJ-y-6Y91GmBWNRIZv5dV6rGw8jDgxAmt98e2cveu65yULADteOQS5iCdYruJWrVuG87EJgoGyTP2PlQ&ats=1411107211815&rm=1488a2c9e18fd02c&zw&sz=w1342-h547');
  background-size: 350px 700px;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
 }

.cover2{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}

.cover2 .title2{
  font-size: 16pt;
  font-style: italic;
}

.box2:hover .top2{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top2{
  top: -700px;
}

.box3{
  width:750px;
  height: 400px;
  background: url('https://mail.google.com/mail/u/0/?ui=2&ik=5fdab7f418&view=fimg&th=1488a2cca4478454&attid=0.1&disp=inline&realattid=1479611476458078208-local0&safe=1&attbid=ANGjdJ-B_JvtUI1UYCh9SUeVX848yPbwEtK8MWmn93tYiavgruf-HqBOO7j1qCsnqi7sXfElRm41ykOcXHuRQXKniKxL9txUzsZ0A5vVYXpsTLFy6o2hrQp4rOs1Ta0&ats=1411107211777&rm=1488a2cca4478454&zw&sz=w1342-h547');
  background-size: 750px 400px;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
 }

.cover3{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}

.cover3 .title3{
  font-size: 16pt;
  font-style: italic;
}

.box3:hover .top3{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top3{
  top: -400px;
}

.box4{
  width:750px;
  height: 400px;
  background: url('https://mail.google.com/mail/u/0/?ui=2&ik=5fdab7f418&view=fimg&th=1488a2cb0dac2e0f&attid=0.1&disp=inline&realattid=1479611469808009216-local0&safe=1&attbid=ANGjdJ_9U-Vzni2GWjiKcV0Z9C5uwTGYpZW--zQK5VWNK6W6P5HIcyH_uIDYHXfvSsz0UisWKrsdlq7tmjecn4jVoFn8qPVY-vKV1_towWQjtJSuLlJxqcuicJoG3S4&ats=1411138162825&rm=1488a2cb0dac2e0f&zw&sz=w1342-h547');
  background-repeat: no-repeat;
  background-size: 750px 400px;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
 }

.cover4{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}

.cover4 .title4{
  font-size: 16pt;
  font-style: italic;
}

.box4:hover .top4{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top4{
  top: -400px;
}

.box5{
  width:450px;
  height: 700px;
  background: url('https://mail.google.com/mail/u/0/?ui=2&ik=5fdab7f418&view=fimg&th=1488a2d034f51e25&attid=0.1&disp=inline&realattid=1479611491882631168-local0&safe=1&attbid=ANGjdJ8TtQOCgR3rG7IfxiXktyephl-iU6A1wecbTe2BTqI5Omwi-0_3_b5OQ2cnFJAYzOyMHaHt1KuHFM2iY6OJkrlN4nFgCaWtgRf13upVWwCROt0sNF8moIBaejk&ats=1411138162777&rm=1488a2d034f51e25&zw&sz=w1342-h547');
  background-size: 450px 700px;
  overflow: hidden;
  margin: 5px;
  border: 1px solid #000;
  box-shadow: 0px 0px 15px 0px #666,
              0px 5px 15px 0px #000;
 }

.cover5{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  position: relative;
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
  padding: 1em;
  color: #fff;
  overflow: hidden;
  text-shadow: 1px 1px 0px #000;
}

.cover5 .title5{
  font-size: 16pt;
  font-style: italic;
}

.box5:hover .top5{
  -webkit-transition: all 0.4s cubic-bezier(.99,.99,0,.61);
   top: 0px;
}

.top5{
  top: -700px;
}